<div id="{{placeholder}}" style="width:80%; height:500px"></div>

<script type="text/javascript">


    $(function () {
        var placeholder = $("#{{placeholder}}");

        $.plot(placeholder,
               {{data|raw}}{% if options %},
               {{options|raw}}{% endif %});
    });
</script>